<div class="container">
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4">
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>E-mail</th>
            <th>Admin</th>
            <th>Banned</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
