<div class="container">
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4 well">
      <form action="/update">
        <div class="form-group">
          <label for="genre">Genre</label>
          <input type="text" name="genre" class="form-control" id="genre" placeholder="Genre (Optional)">
        </div>
        <div class="form-group">
          <label for="instruments">Musical Instruments</label>
          <input type="text" name="instruments" class="form-control" id="instruments" placeholder="Instrument (Optional)">
        </div>
        <div class="form-group">
          <label for="influences">Influences</label>
          <input type="text" name="influences" class="form-control" id="influences" placeholder="Influences (Optional)">
        </div>
        <div class="form-group">
          <label for="bio">Biography</label>
          <textarea rows="5" cols="40"type="text" name="bio" class="form-control" id="biography" placeholder="Biography (Optional)"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>
