<div class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6 text-center feedback-div-control">
      <h3>Thanks for your feedback. We will be in touch.</h3>
      <a href="/chat"><button type="button" name="button" class="btn-success btn-lg">Get back into the Jamazon!</button></a>
    </div>
  </div>
</div>
