<div class="container-fluid">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 img-rounded well" id="mainbox">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio quam, ornare id tempus sit amet, maximus sed justo. Quisque volutpat ullamcorper finibus. Aliquam quis mauris vitae ante posuere placerat. Praesent feugiat ut felis vel mollis. Nunc ornare odio et lectus tempor, vitae finibus nisi elementum. Nullam laoreet sagittis quam, nec lacinia diam faucibus at. Fusce blandit ex vitae ante tempus, sed molestie risus faucibus. Morbi ac sapien nibh. Morbi nec risus et ligula tincidunt dignissim. Nulla lorem libero, finibus ut lectus vel, hendrerit porttitor nulla. Sed tempus ac arcu eu pretium. Pellentesque lacus justo, interdum id elit ac, dignissim volutpat leo. Phasellus gravida risus vel elementum tincidunt. Morbi venenatis feugiat urna, gravida mollis nunc dictum non. Suspendisse fringilla, nisl nec eleifend maximus, tortor dui vestibulum turpis, sit amet dignissim lectus dolor quis ante. Ut turpis eros, efficitur quis quam a, vulputate facilisis dui.
      </p>
      <div class="row text-center">
        <div class="col-lg-offset-0 col-lg-4 well-sm">
          <h2>Random Jam</h2>
          <p>
            Search and randomly create a room with anyone!
          </p>
          <button type="button" class="btn btn-primary">Search</button>
        </div>
        <div class="col-lg-offset-0 col-lg-4 well-sm">
          <h2>Registered Jam</h2>
          <p>
            Search and create a room with registered users!
          </p>
          <button type="button" class="btn btn-primary">Search</button>
        </div>
        <div class="col-lg-4">
          <h2>Sign-Up/Login</h2>
          <p>
            Sign-Up using Google Authentication to enjoy profile customizing features and our registered search functions to have a better idea of who you're jamming with!
          </p>
          <button type="button" name="button" class="btn btn-primary"><a href ="/auth/google">Google Sign-In</a></button>
        </div>
      </div>
    </div>
  </div>
</div>
