<div class="container-fluid">
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4 img-rounded well" id="mainbox">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio quam, ornare id tempus sit amet, maximus sed justo. Quisque volutpat ullamcorper finibus. Aliquam quis mauris vitae ante posuere placerat. Praesent feugiat ut felis vel mollis. Nunc ornare odio et lectus tempor, vitae finibus nisi
      </p>
      <div class="row text-center">
        <div class="col-lg-offset-3 col-lg-6">
          <h2>Sign-Up/Login</h2>
          <p>
            In order to start jamming with strangers across the internet, please sign-in
          </p>
          <a href ="/auth/google"><img src="/images/google-sign-in.png" class="img-responsive center-block" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
