<body class="background">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-offset-4 col-lg-4">
        <div class="row text-center">
          <div class="col-lg-offset-1 col-lg-9 center-screen main-center">
            <h1 class="welcome-to">Jamazon<span aria-hidden="true"></h1>
            <p class="main-paragraph">
              The easy to use app to help you find people across the internet to jam with. Sign in using Google Authentication and a jam session is just a few clicks away.
            </p>
            <a href ="/auth/google"><img src="/images/google-sign-in.png" class="img-responsive center-block" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
