<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Pavanam" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://simplewebrtc.com/latest-v2.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="../public/javascripts/client.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/91db217846.js"></script>
    <script src="/javascripts/client.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand brand-logo" href="/">JAMAZON</a>
        <a href="/admin"><button type="button" class="btn btn-default navbar-right top-nav">Admin</button></a>
        <a href="/edit"><button type="button" class="btn btn-default navbar-right top-nav">Edit</button></a>
        <a href="/logout"><button type="button" class="btn btn-default navbar-right top-nav">Log Out</button></a>
      </div>
    </nav>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Send A Report</h4>
          </div>
          <div class="modal-body">
            <form method="GET" action="/twilio">
             <div class="form-group">
               <label for="contact" class="control-label">Contact:</label>
               <input type="text" class="form-control" id="contact" name="contact">
             </div>
             <div class="form-group">
               <label for="subject" class="control-label">Subject:</label>
               <input type="text" class="form-control" id="subject">
             </div>
             <div class="form-group">
               <label for="message" class="control-label">Message:</label>
               <textarea maxlength="100" class="form-control" id="message" name="message"></textarea>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               <input type="submit" class="btn btn-primary" value='Send Report'/>
             </div>
           </form>
          </div>
        </div>
      </div>
    </div>
    {{{body}}}
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <button type="button" class="btn btn-danger btn-sm navbar-right" id="issues-button" data-toggle="modal" data-target="#myModal">
        Issue/Bug/Report
      </button>
      <h5><a href="https://github.com/Lanerds/Team-List-Quarter2-Project" class="navbar-text github-fork"><i class="fa fa-github" aria-hidden="true"></i> Fork Us on Github!</a></h5>
    </nav>
  </body>
</html>
