<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://simplewebrtc.com/latest-v2.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="../public/javascripts/client.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/javascripts/client.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-text">Signed in as <a href="#" class="navbar-link"></a></p>
        </div>
      </div>
    </nav>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Send A Report</h4>
          </div>
          <div class="modal-body">
            <form method="POST" action="/twilio">
             <div class="form-group">
               <label for="contact" class="control-label">Contact:</label>
               <input type="text" class="form-control" id="contact">
             </div>
             <div class="form-group">
               <label for="subject" class="control-label">Subject:</label>
               <input type="text" class="form-control" id="subject">
             </div>
             <div class="form-group">
               <label for="message" class="control-label">Message:</label>
               <textarea class="form-control" id="message"></textarea>
             </div>
           </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send Report</button>
          </div>
        </div>
      </div>
    </div>
    {{{body}}}
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <button type="button" class="btn btn-danger btn-lg navbar-right" id="issues-button" data-toggle="modal" data-target="#myModal">
        Issue/Bug/Report
      </button>
    </nav>

  </body>
</html>
