<div class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6 well">
      <form action="/register" method="POST">
        <div class="form-group">
          <label for="user_name">Username</label>
          <input type="text" name="user_name" class="form-control" id="user_name" placeholder="Please enter a username">
        </div>
        <div class="form-group">
          <label for="genre">Genre</label>
          <input type="text" name="genre" class="form-control" id="genre" placeholder="What genre of music do you like to play most? (Optional)">
        </div>
        <div class="form-group">
          <label for="instrument">Musical Instruments</label>
          <input type="text" name="instrument" class="form-control" id="instrument" placeholder="What is your instrument of choice? (Optional)">
        </div>
        <div class="form-group">
          <label for="influence">Influences</label>
          <input type="text" name="influence" class="form-control" id="influence" placeholder="Who is your biggest musical influence? (Optional)">
        </div>
        <div class="form-group">
          <label for="bio">Biography</label>
          <textarea rows="5" cols="40"type="text" name="bio" class="form-control" id="bio" placeholder="Tell us more about yourself! (Optional)"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>
