body {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url('https://hd.unsplash.com/photo-1468164016595-6108e4c60c8b');
  background-size: cover;
  min-height: 100%;
}

#mainbox {
    border-style: solid;
    border-color: #b94a48;
    border-width: 1px;
    margin-top: 20px;
}

.jam_header {
  padding-left: 10px;
}

#chat-box {
  margin-left: 15px;
}

#chatDiv {
  background-color: white;
  height: 150px;
  width: 34vw;
  overflow: scroll;
  margin-bottom: 10px;
  border: 1px solid lightblue
}

#send-button {
  padding: 12px 29px 12px 29px;
  margin-left: 0px;
}

#chat-box-control {
  margin-right: 0px;
}

#send-button-control {
  margin-left: 0px;
}

#chat-interface-control {
  margin-top: 20px;
  margin-left: 10px;
}

#send-button {
  padding: 16px;
  margin-left: 25px;
}
#issues-button {
  margin-right: 2vw;
}

.btn-primary a {
  color: white;
}

.btn-primary a:hover {
  color: white;
}

.marginBottom {
  margin-bottom: 2vw;
}

.brand-logo {
  font-family: "Abril Fatface", cursive;
}
