body {
  padding-top: 70px;
  padding-bottom: 70px;
}

#mainbox {
    border-style: solid;
    border-color: #b94a48;
    border-width: 1px;
    margin-top: 20px;
}

.jam_header {
  padding-left: 10px;
}

#chat-box {
  margin-left: 15px;
}

#chatDiv {
  background-color: grey;
  height: 112px;
  width: 600px;
}

#send-button {
  padding: 12px 29px 12px 29px;
  margin-left: 0px;
}

#chat-box-control {
  margin-right: 0px;
}

#send-button-control {
  margin-left: 0px;
}

#chat-interface-control {
  margin-top: 20px;
  margin-left: 10px;
}

#chat-control-button {
  padding: 10px 220px;
  /*margin-top: 8px;*/
}

.btn-primary a {
  color: white;
}
.btn-primary a:hover {
  color: white;
}
