body {
  padding-top: 70px;
  padding-bottom: 70px;
}

#mainbox {
    border-style: solid;
    border-color: #b94a48;
    border-width: 1px;
    margin-top: 20px;
}

.jam_header {
  padding-left: 10px;
}

#chat-box {
  margin-left: 15px;
}

#chatDiv {
  background-color: white;
  height: 150px;
  width: 34vw;
  overflow: scroll;
  margin-bottom: 10px;
  border: 1px solid lightblue
}

#send-button {
  padding: 12px 29px 12px 29px;
  margin-left: 0px;
}

#chat-box-control {
  margin-right: 0px;
}

#send-button-control {
  margin-left: 0px;
}

#chat-interface-control {
  margin-top: 20px;
  margin-left: 10px;
}

#send-button {
  padding: 16px;
  margin-left: 25px;
}
#issues-button {
  margin-right: 2vw;
  margin-top: 1vw;
  background-color: #1B1726;
}

.btn-primary a {
  color: white;
}

.btn-primary a:hover {
  color: white;
}

.marginBottom {
  margin-bottom: 2vw;
}

.brand-logo {
  font-family: "Abril Fatface", cursive;
  color: #1B1726;
}

.welcome-to {
  font-family: "Abril Fatface", cursive;
  color: white;
}

.main-center {
  margin-top: 8vw;
}

.main-paragraph {
  color: white;
  font-size: 1.2vw;
}

.top-nav {
  margin-top: 15px;
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.background {
  background-image: url('https://hd.unsplash.com/photo-1468164016595-6108e4c60c8b');
  background-size: cover;
  min-height: 100%;
}

.github-fork {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.profileDisplay p{
  margin-bottom: 0;
}

#submit-edit {
  margin-left: 465px;
  margin-top: 5px;
}

#submit-delete {
  margin-left: 413px;
  margin-top: 20px;
}

#chat-div p{
  margin-bottom: 0;
}

#jamazonLogo {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.jamazonLogo {
  margin-top: 1.5vw;
  margin-bottom: 1vw;
}

.feedback-div-control {
  margin-top: 11vw;
}
