<div class="containter-fluid">
  <div class="row" id="chat-interface-control">
    <div class="col-lg-7" id="video-container">
      <img src="http://placehold.it/800x500">
    </div>
    <div class="col-lg-5">
      <div class="row">
        <h4 class="profile-header">(user) Profile</h4>
        <div class="col-lg-12">
          <img src="http://placehold.it/500x212" class="text-center">
        </div>
        <h4 class="chat-header">Chat</h4>
        <div class="col-lg-12">
          <img src="http://placehold.it/500x112" class="text-center">
          <div class="row">
            <div class="col-lg-8" id="chat-box-control">
              <div class="form-group">
                <textarea rows="2" id="comment" cols="54" class="chat-textbox form-inline"></textarea>
              </div>
            </div>
            <div class="col-lg-2" id="send-button-control">
              <input class="btn btn-default form-inline" type="button" value="Input" id="send-button">
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <button type="button" name="button" class="btn btn-primary" id="chat-control-button"> End Chat </button>
        </div>
      </div>
    </div>
  </div>
</div>
