<div class="containter-fluid">
  <div class="row">
    <div class="col-lg-7 well">
      <img src="http://placehold.it/800x450">
    </div>
    <div class="col-lg-5 well">
      <div class="row">
        <h4 class="profile-header">(user) Profile</h4>
        <div class="col-lg-12 well">
          <img src="http://placehold.it/425x100" class="text-center">
        </div>
        <h4 class="chat-header">Chat</h4>
        <div class="col-lg-12 well">
          <img src="http://placehold.it/425x112" class="text-center">
          <div class="row">
            <div class="col-lg-8 well" id="chat-box">
              <img src="http://placehold.it/300x50" class="">
            </div>
            <div class="col-lg-2 well">
              <img src="http://placehold.it/50x50" class="">
            </div>
          </div>
        </div>
        <div class="col-lg-12 well">
          <img src="http://placehold.it/425x50" class="">
        </div>
      </div>
    </div>
  </div>
</div>
