<h1 class="jam_header">Jam Session</h1>

<div class="containter-fluid">
  <div class="row">
    <div class="col-lg-7 well">
      <img src="http://placehold.it/800x400">
    </div>
    <div class="col-lg-4 well">
      <div class="row">
        <h4>(user) Profile</h4>
        <div class="col-lg-12 well">
          <img src="http://placehold.it/430x100" class="text-center">
        </div>
        <h4>Chat</h4>
        <div class="col-lg-12 well">
          <img src="http://placehold.it/430x112" class="text-center">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 well">

    </div>
    <div class="col-lg-2 well">

    </div>
    <div class="col-lg-2 well">

    </div>
  </div>
</div>
